<div class="container">
	<div class="col-xs-20"></div>
	<h1 class="text-primary text-center row">Tribute to Koos de la Rey</h1>
	<h2 class="text-center"><em>The Lion of the Wes-Transvaal</em></h2>
	
	<div style="text-align:center">
		<image src="https://upload.wikimedia.org/wikipedia/commons/b/b3/KoosDeLaRey.jpg"alt="photo of General Koos de la Rey."/></a>
	</div>
	<br>
	<p>General Jacobus Herculaas de la Rey (22 October 1847 – 15 September 1914), also known as Koos de la Rey, was a Boer general during the Second Boer War in South Africa. He was widely regarded as being one of the strongest military leaders and tacticians during the raging conflict against the overwhelming forces of the British-Empire.</p>
	<br>
	<div><p><strong>Known Military Campaigns:</strong></p>
		<p>
		<ul>
			<li>Basotho War of 1865</li> <li>Sekhukhune's War of 1876</li>
			<li>Siege of Potchefstroom (1880 -1881)</li>
			<li>Battle of Kraaipan, 12 October 1899</li>
			<li>Graspan on 25 November 1899</li>
			<li>Battle of Modder River, 28 November 1899</li>
			<li>Magersfontein, 11 December 1899</li></ul></p></div>
	<br>
	<blockquote><p>He is generally regarded as the bravest of the Boer generals during the Second Boer War and as one of the leading figures of Boer independence.</p></blockquote>
	<br>
	<footer class="text-center">
		<p>written and coded by Riaan de Swardt.</p>
		<p> Sources: Wikipedia</p> <a href="https://en.wikipedia.org/wiki/Koos_de_la_Rey">https://en.wikipedia.org/wiki/Koos_de_la_Rey</a>
	</footer> 