<div class="normalheader transition animated fadeIn small-header">
	<div class="panel">
		<div class="panel-body">
			
			<div class="pull-right" id="breadcrumb">
				<ol class="hbreadcrumb breadcrumb">
					<li><a href="/admin">Dashboard</a></li>
					<li class="active"><a href="/admin/slides">Slides List</a></li>
					
				
				</ol>
			</div>
			<div class="pull-left">
				<h2 class="font-light">
					Slides
				</h2>
				<small>Current Slides</small>
			</div>
		
		</div>
	</div>
</div>

<div id="toolbar" class="" style="top: 47px;">
	<div class="container small-header">
		<div class="panel">
			<div class="panel-body">
				
				<form id="filter-form" role="search" class="form-inline">
					<div style="margin-right:43px;">
						<div class="col-sm-3">
							<a href="/admin/slides/new" class="btn btn-default"><i class="fa fa-plus"> Add New</i></a>
						
						</div>
						<div class="col-sm-3">
						
						</div>
						
						<div class="col-sm-3 ">
							<div class="input-block-level">
							
							</div>
						
						</div>
						<div class="col-sm-3">
							<input type="text" value="" id="search" name="search" placeholder="Search" class="form-control">
						</div>
					</div>
					<button type="submit" class="btn btn-default pull-right"><i class="fa fa-search"></i></button>
				</form>
			
			
			</div>
		</div>
	</div>
</div>
<div class="content animate-panel" id="content-area">

	
	
</div>